<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item" style="background-color: #E0E549;">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" style="background-color: #7E2CD3;" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                    aria-controls="flush-collapseOne">
                Who I am?
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse"
             aria-labelledby="flush-headingOne"
             data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                I am a junior and curious Python back-end developer, who creates his own web-sites and
                telegram bots, from Uzbekistan, Tashkent.
            </div>
        </div>
    </div>
    <div class="accordion-item" style="background-color: #7EE549;">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" style="background-color: #B535B1;" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                    aria-controls="flush-collapseTwo">
                Why this web-site?
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse"
             aria-labelledby="flush-headingTwo"
             data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                The reason why I created this web-site is that I cherish spending my time watching and
                staring down to the arts by League of Legends. Consequently, I created this web-site if you
                want to use this site You're Welcome.
            </div>
        </div>
    </div>
    <div class="accordion-item" style="background-color: #EA5C5C;">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" style="background-color: #45ECD1;" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                    aria-controls="flush-collapseThree">
                What I can do?
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse"
             aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                As for telegram bots, I created bots like 'Download' where you can download videos
                from Instagram, Tik-Tok and YouTube. Bot Translator, Bot QrCoder, Bot Wikipedia, Bot
                Weather.
                In terms of web-sites, I created web-sites of Articles and web-site of
                Recipes and this web-site.
            </div>
            <div>
            </div>
        </div>
    </div>

</div>