{% load static %}


<footer class="text-center text-lg-start bg-light text-muted">
    <section
            class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

    </section>
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>
                        <i>
                            Web-site
                        </i>
                    </h6>
                    <p>
                        <var>The site where you can discover more in the world of League of Legends.</var>

                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i>
                            Languages used
                        </i>
                    </h6>

                    <p>
                        <a href="#!" class="text-reset"><abbr
                                title="Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language such as HTML.">
                            CSS</abbr>
                        </a>
                    </p>

                    <p>
                        <a href="#!" class="text-reset"><abbr
                                title="The HyperText Markup Language or HTML is the standard markup language for documents designed to be displayed in a web browser.">
                            HTML
                        </abbr></a>
                    </p>

                    <p>
                        <a href="#!" class="text-reset"><abbr
                                title="Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.">
                            Python
                        </abbr></a>
                    </p>

                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i> Social Medias </i>
                    </h6>

                    <p>
                        <a href="https://t.me/PatheticScum" target="_blank">
                            <img src="{% static 'blog/img/telegram.png' %}" width="29" height="29" alt="">
                        </a>
                    </p>


                    <p>
                        <a href="https://github.com/PatheticScum" target="_blank">
                            <img src="{% static 'blog/img/github-logo.png' %}" width="30" height="30" alt="">
                        </a>

                    </p>
                    <p>
                        <a href="https://www.youtube.com/channel/UC17Sd6Mnr3eRVPRQCyz2Lvg" target="_blank">
                            <img src="{% static 'blog/img/youtube.png' %}" width="29" height="29" alt=""
                                 style="padding-left: 1px;">
                        </a>

                    </p>


                </div>


                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i>
                            Info
                        </i>
                    </h6>
                    <p><i class="fas fa-home me-3"></i>
                        <a>
                            <img src="{% static 'blog/img/globe.gif' %}" width="40" height="40" alt="">
                        </a>
                        Tashkent, Uzbekistan
                    </p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        <a>
                            <img src="{% static 'blog/img/email.gif' %}" width="40" height="40" alt="">
                        </a>

                        sherzodrazzaqov16@gmail.com

                    </p>
                    <p><i class="fas fa-phone me-3"></i>
                        <a>
                            <img src="{% static 'blog/img/phone.gif' %}" width="32" height="32" alt="">
                        </a>

                        + 998 90 006 15 97

                    </p>
                </div>
            </div>
        </div>
    </section>
</footer>
