{% load static %}


<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white"> Arts </h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">The place where more than 150 skins, arts collected in one place of League of Legends
                as well as have a chance to download them.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

                <a class="btn btn-outline-light btn-lg px-4" style="background-color: #05F0EA;"
                   href="{% url 'wallpaper_list' %}">See Arts Page</a>

            </div>
        </div>
    </div>
</div>


<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white"> Animes </h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">The place where more than 150 skins, arts collected in one place of League of Legends
                as well as have a chance to download them.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

                <a class="btn btn-outline-light btn-lg px-4" style="background-color: #6B1CA9;"
                   href="{% url 'anime_list' %}">See Anime Page</a>

            </div>
        </div>
    </div>
</div>


<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white"> NFTs </h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">The place where more than 150 skins, arts collected in one place of League of Legends
                as well as have a chance to download them.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

                <a class="btn btn-outline-light btn-lg px-4" style="background-color: #C87421;"
                   href="{% url 'nft_list' %}">See NFT Page</a>

            </div>
        </div>
    </div>
</div>


<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">About Creator</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">In the Creator page you can find out more info about creator of this site. Info like
                who is he, where he was born, what he can do.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

                <a class="btn btn-outline-light btn-lg px-4" style="background-color: #F2E308;"
                   href="{% url 'creator' %}">See Creator Page</a>

            </div>

        </div>
    </div>
</div>

<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">About Site</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">This page provides data on site. Data like what amount of time was spent to create this
                site, the figure for lines of codes.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

                <a class="btn btn-outline-light btn-lg px-4" style="background-color: #2947C1;"
                   href="{% url 'about_site' %}">See Site Page</a>

            </div>

        </div>
    </div>
</div>
