<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Logging out Form</h1>
            <p class="col-lg-10 fs-4">By clicking this button you log out from your current account.</p>
        </div>
        <div class="col-md-8 mx-auto col-lg-4">
            <form class="p-4 p-md-5 rounded-3" style="background-color: #8F25D3">

                <a class="btn btn-outline-light btn-lg px-4 d-flex justify-content-center"
                   style="background-color: #05F0EA;"
                   href="{% url 'logout' %}">Log out</a>

            </form>
        </div>
    </div>
</div>